*{
	margin-left: 10px;
	margin-right: 10px;
}
#cajas h1{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #00F;
}
#cajas h2{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #AAA;
}
#cajas ul{
	border-style: solid;
	border-width: 2px;
	border-color: #0F0;
}
#cajas li{
	margin-top: 15px;
	margin-bottom: 15px;
}